#body {
    background: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
    line-height:1.6em;
  }

  #body h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }



.margem-baixo {
  margin-bottom: 30px;
}

.list-group-item {
  color: #ffc107 ;
}

.list-group-item:hover {
  text-decoration: none;
  color: #d6a512;
}

.list-group .active{
  background-color: #ffc107 !important;
  border-color: #8f6b01 !important;
  color: #131518 !important;
}


.centro-container {
  margin: 0 auto;
}

.container h3{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.container h4{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.container-fluid h3{
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: black;
}


.escala-cinza {
  -webkit-filter: grayscale(100);
}

.escala-cinza:hover {
  -webkit-filter: grayscale(0);
  cursor: pointer;
}

hr {
  border: 10px solid #fec503;
  color: #fec503;
  background-color: #fec503;
  height: 10px;
}



#mainNav {
    background-color: #212529;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;    
    background-color: #fed136;
    font-family: 'Poppins', sans-serif;
  }
  
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Poppins', sans-serif;
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }

   /* 
* -------------------------------------
* 05 - Corpo do site
* ------------------------------------- 
*/ 

#corpo01 {
    min-height: 13em;
    padding: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  #corpo01 h3 {
    font-weight: 300;
    color:black;
  }

  /* Circulo */ 
#circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    background-color: #ffc107;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    
}

#circulo img {
    margin-top: 10px;
    width: 100px;
    height: 100px;    
}

#circulo img:hover {
    margin-top: 10px;
    min-width: 105px;
    height: 105px;
    padding: 10px;
    margin-left: 5px;
    -webkit-animation-delay: 10s;
}

#circulo:hover {
    background-color: #575757;
    cursor: pointer;
    -webkit-animation-delay: 1ms;
}

#corpo02 {
    font-family: 'Poppins', sans-serif;
}

#corpo02 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:black;
}

#a-avante {
  width: 100%;
  min-height: auto;  
  color: black;
  text-align: center;
  padding: 20px 20px 50px;  
  background-image: url(../imagens/imgPrincipal1.jpg);
  background-color: #fec503 !important;
  position: static;
}

#a-avante h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

#a-avante p {
  font-family: 'Poppins', sans-serif;
 
}

#a-avante button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


#a-avante hr {
color: black;
background-color: black;
}


/* 
* -------------------------------------
* 06 - Clientes
* ------------------------------------- 
*/ 

#clientes {
  width: 100%;
  height: auto;
  float: center;
}

.clientes-logo {
  width: 250px;
  height: 200px;
  background-color: white; 
  display:inline-block;
  background: #ccc;
  position: relative;
}

.clientes-logo img {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);  
}

#cliente-foto {
  
  padding-bottom: 30px;
  width: 100%;
  min-height: 300px;
  text-align: center;
  /*background-color: #212529;*/
  background-image: linear-gradient(-90deg, rgb(213, 214, 212), rgb(221, 221, 221));
  color: #d6a512;
  border-radius: 2px;
}

#cliente-foto h3{
  font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

#cliente-foto img{
  padding: 5px;
}
  
 /* 
* -------------------------------------
* 06 - Rodapé
* ------------------------------------- 
*/ 

#rodape {
    background-color: #131518;
    widows: 100%;
    min-height: 150px;
    margin: 0 auto;
    padding: 20px;
    }
    
    #rodape h1 {
    color:yellow;
    font-size: 16px;
    font-weight: 400;
    }
    
    #rodape p {
    color:white;
    font-size: 14px;
    margin-top: -5px;
    font-weight: 200;
    }
    
    
    #novas-tecnologias {
      background-color:rgb(233, 233, 233);
      width: 100%;
      height: 300px;
      padding-top: 20px;
    }

    #pre-rodape {
      width: 100%;
      height: 50px;
      background-color:#212529 ;
      text-align: center;
      padding: 5px;
      float: center;
    }

    #pre-rodape img{
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-left: 10px;
      margin-top: 3px;
    }

    #div-amarelo {
      width: 100%;
      height: 5px;
      background-color: #fec503;
    }


    /* Background sobre nós */ 
    #img-sobre {
      width: 100%;
      height: auto;
    }
    

    #box-servicos {
      width: 320px;
      min-height: 350px;
      border: 1px solid rgb(212, 211, 211);
      border-radius: 3px;
      box-shadow: 3px 2px rgb(240, 240, 240);      
      text-align: center;
      margin-bottom: 15px;

    }

    #box-servicos:hover {
      border: 2px solid rgb(212, 211, 211);
      border-radius: 3px;
      box-shadow: 3px 2px rgb(212, 211, 211);
      text-align: center;
      cursor: pointer;
    }

    #box-servicos img{
      width: 100%;
      height: 50%;
    }

    #box-servicos p{
      font-weight: 300;
      font-family: 'Poppins', sans-serif;  
      padding-left: 5px; 
      padding-right: 5px;
    }

    #box-servicos h4{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    }

    #nome-servico {
      background-color: #fec30349;
    }

/*
Serviços
*/

.card {
  font-weight: 300;
    font-family: 'Poppins', sans-serif;
} 

* {
  box-sizing: border-box;
}

.slider {
    width: 70%;
    margin: 30px auto;
}

.slick-slide {
  margin: 0px 30px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}


#meu-contato {
  width: 100%;
  height: 50vh;
}

input[type=text]{  
  border-radius:1px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  box-shadow: 1px 1px 2px #a0a0a0;    
  -moz-box-shadow: 1px 1px 2px #a0a0a0;
  -webkit-box-shadow: 1px 1px 2px #a0a0a0;
  background: #fffefe; 
  border:1px solid #c9c9c9;
  width:300px
}

textarea{
  border-radius:1px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  box-shadow: 1px 1px 2px #a0a0a0;    
  -moz-box-shadow: 1px 1px 2px #a0a0a0;
  -webkit-box-shadow: 1px 1px 2px #a0a0a0;
  background: #fffefe; 
  border:1px solid #c9c9c9;
  width:500px
}

input[type=submit]{
      background:#d6a512;
      color: black;
      border:1px solid black;
      padding: 5px 5px;
      border-radius:2px;
  -moz-border-radius:2x;
  -webkit-border-radius:2px;
}
   

#nossas-solucoes {
  width: 100%;
  min-height: 300px;
  background-color: white;
 /* box-shadow: 3px 3px 2px #d1d0d0;*/
  border: 1px solid #e4e2e2 ;
  border-radius: 2px;
  padding: 10px 10px 50px;
  margin-bottom: -120px;
}

#nossas-solucoes h3 {

}


#nossos-parceiros {
  width: 100%;
  min-height: 400px;
  background-color: white;
 /* box-shadow: 3px 3px 2px #d1d0d0;*/
  border: 1px solid #e4e2e2 ;
  border-radius: 2px;
  color: #fec503;
}

#nossos-parceiros img {
  float: left;
  width: 100%;
}

#nossos-parceiros p, h3 {
  padding: 30px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}


#sobre-avante {
  width: 100%;
  min-height: auto;
  background-color: white;
 /* box-shadow: 3px 3px 2px #d1d0d0;*/
  border: 1px solid #e4e2e2 ;
  border-radius: 2px;
  color: #fec503;
  padding: 20px 40px 100px;
  margin-bottom: -95px;
}

#sobre-avante h3{
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}


#servicos-avante {
  width: 100%;
  min-height: 350px;
  background-color: white;
 /* box-shadow: 3px 3px 2px #d1d0d0;*/
  border: 1px solid #e4e2e2 ;
  border-radius: 2px;
  color: #fec503;
  cursor: pointer;
}


#servicos-avante h3, p {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  padding: 20px 20px 0px;
}

#servicos-avante a{
  color: #fec503;
  text-decoration: none;
}

#servicos-avante a:hover{
  color: #292929;
}