#body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    color:#333;
    line-height:1.6em;
  }

  /*
03. NavBar
*/

.centro-container {
  marign:0 auto;
}

.container h3{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.container h4{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.container-fluid h3{
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: black;
}


.escala-cinza {
  -webkit-filter: grayscale(100);
}

.escala-cinza:hover {
  -webkit-filter: grayscale(0);
  cursor: pointer;
}

hr {
  border: 2px solid #ffc107;
  color: #ffc107;
  background-color: #ffc107;
  height: 5px;
}



#mainNav {
    background-color: #212529;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;    
    background-color: #fed136;
    font-family: 'Poppins', sans-serif;
  }
  
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Poppins', sans-serif;
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }

   /* 
* -------------------------------------
* 05 - Corpo do site
* ------------------------------------- 
*/ 

#corpo01 {
    min-height: 13em;
    padding: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  #corpo01 h3 {
    font-weight: 300;
    color:black;
  }

  /* Circulo */ 
#circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    background-color: #ffc107;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    
}

#circulo img {
    margin-top: 10px;
    width: 100px;
    height: 100px;    
}

#circulo img:hover {
    margin-top: 10px;
    min-width: 105px;
    height: 105px;
    padding: 10px;
    margin-left: 5px;
    -webkit-animation-delay: 10s;
}

#circulo:hover {
    background-color: #dbdbae;
    cursor: pointer;
    -webkit-animation-delay: 1ms;
}

#corpo02 {
    font-family: 'Poppins', sans-serif;
}

#corpo02 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:black;
}

#a-avante {
  width: 100%;
  min-height: 400px;  
  color: white;
  text-align: center;
  padding: 120px;
  background-image: url(../imagens/imgPrincipal1.jpg);
  background-color: #fec503 !important;
  position: static;
}

#a-avante h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

#a-avante p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


/* 
* -------------------------------------
* 06 - Clientes
* ------------------------------------- 
*/ 

#clientes {
  width: 100%;
  height: auto;
  float: center;
}

.clientes-logo {
  width: 250px;
  height: 200px;
  background-color: white; 
  display:inline-block;
  background: #ccc;
  position: relative;
}

.clientes-logo img {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);  
}

#cliente-foto {
  margin-top: 30px;
  margin-bottom: 115px;
  padding: 30px 0px;
  width: 100%;
  min-height: 300px;
  text-align: center;

}

#cliente-foto h3{
  font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

#cliente-foto img{
  padding: 5px;
}
  
 /* 
* -------------------------------------
* 06 - Rodapé
* ------------------------------------- 
*/ 

#rodape {
    background-color: #131518;
    widows: 100%;
    min-height: 150px;
    margin: 0 auto;
    padding: 20px;
    }
    
    #rodape h1 {
    color:yellow;
    font-size: 16px;
    font-weight: 400;
    }
    
    #rodape p {
    color:white;
    font-size: 14px;
    margin-top: -5px;
    font-weight: 200;
    }
    
    
    #novas-tecnologias {
      background-color:rgb(233, 233, 233);
      width: 100%;
      height: 300px;
      padding-top: 20px;
    }

    #pre-rodape {
      width: 100%;
      height: 50px;
      background-color:#212529 ;
      text-align: center;
      padding: 5px;
      float: center;
    }

    #pre-rodape img{
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-left: 10px;
      margin-top: 3px;
    }

    #div-amarelo {
      width: 100%;
      height: 5px;
      background-color: #fec503;
    }


    /* Background sobre nós */ 
    #img-sobre {
      background-image:url(../imagens/sobrenos/sobreprinc.jpg);
      width: 100%;
      height: 300px;
      -webkit-filter: blur(0.5px);
    }

    #img-serv {
      background-image:url(../imagens/servicos/img-princ.png);
      width: 100%;
      height: 300px;
      -webkit-filter: blur(0.5px);
    }
    

    #box-servicos {
      width: 320px;
      min-height: 350px;
      border: 1px solid rgb(212, 211, 211);
      border-radius: 3px;
      box-shadow: 3px 2px rgb(240, 240, 240);      
      text-align: center;
      margin-bottom: 15px;

    }

    #box-servicos:hover {
      border: 2px solid rgb(212, 211, 211);
      border-radius: 3px;
      box-shadow: 3px 2px rgb(212, 211, 211);
      text-align: center;
      cursor: pointer;
    }

    #box-servicos img{
      width: 100%;
      height: 50%;
    }

    #box-servicos p{
      font-weight: 300;
      font-family: 'Poppins', sans-serif;  
      padding-left: 5px; 
      padding-right: 5px;
    }

    #box-servicos h4{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    }

    #nome-servico {
      background-color: #fec30349;
    }


    

